html {
    height: 100%;
}
body {
    min-height:100%;
    padding-bottom: 410px;
    position:relative;
}

footer {
    height:404px;
    position: absolute;
    bottom:0;
    right:0;
    width:100%;
    
}