:root {
  --bs-primary-rgb: 178, 150, 125;
}

::selection {
  background: #9a785b;
  color: #fff;
}
html {
}
body {
  position: relative;
}
footer {
  margin-bottom: -40px;
}
.navbar {
}
.navbar-dark {
}
:root {
  --bs-primary-rgb: 178, 150, 125;
}
.bg-primary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}

a.callto {
  display: none;
}
@media (orientation: portrait) {
  a.callto {
    display: block;
  }
  span.callto {
    display: none;
  }
}
@media (orientation: landscape) {
  a.callto {
    display: none;
  }
  span.callto {
    display: inline;
  }
}

@media (orientation: portrait) {
  .noneinportrait {
    display: none;
  }
}
