.section1 {
    border:1px solid #000;
    width: 50%;
    height: 100px;
    background-color: #f00;
    color:#fff;
    font-size:50px;
    position: absolute;
    text-indent: 2em;
}
.section2 {
    border:1px solid yellow;
    width: 45%;
    height: 100px;
    background-color: #0f0;
    position: absolute; 
    z-index: 100;
    right:0;

}
.section3 {
    /*border:1px solid blue;*/
    width: 45%;
    height: 100px;
    /*background-color: #00f;*/ 
    position: absolute;
    right:0;
    top:100px;
    
}
.wrap {
    /*border:1px solid pink;
    position:relative;*/
}
p {color:yellow}
div P {color:red;}
div > p {color:blue}

/*20250311*/
#section {maring-top:300px;padding:50vh;background:pink}
